.projects-list-item {
	height: auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	/*grid-template-rows: 2em auto 1fr 2em;
	grid-row-gap: 5px;*/
	grid-column-gap: 20px;
	background-color: var(--bg-color-alt);
	padding: 20px;
	margin: 10px auto;
	/*align-items: center;*/
}

.projects-list-item .link {
	margin-top: 5px;
	font-family: var(--text-font);
}

.projects-list-item-img {
	object-fit: cover;
	width: 100%;
	/*grid-row-start: 1;
	grid-row-end: 5;*/
	justify-self: center;
}

.project-info{
	display: flex;
	flex-direction: column;
	align-items: start;
}

.project-title {
	margin: 0;
	font-family: var(--titles-font);
	font-size: 1.75em;
	text-align: start;
}

.project-tags-list {
	margin: 5px 0;
	list-style: none;
	padding: 0;
	/*text-align: start;
	align-self: center;*/
	display: flex;
	flex-wrap: wrap;
	/*align-items: center;*/
	font-family: var(--btn-font);
	font-size: .85em;
}

.project-tags-list li {
	width: auto;
	display: inline-block;
	padding: 5px 10px;
	background-color: var(--tag-color);
	margin: 2px;
	border-radius: 20px;
}

.project-description {
	font-family: var(--text-font);
	margin: 5px 0;
	/*align-self: start;*/
}

@media screen and (max-width: 480px) {
	.projects-list {
		flex-direction: column;
	}

	.projects-list-item {
		width: calc(100% - 60px);
		grid-template-columns: 1fr;
	}

	.projects-list-item-img {
		height: auto;
	}

	.project-info {
		margin-top: 10px;
	}
}

@media screen and (min-width: 481px) and (max-width: 768px){
	.projects-list {
		flex-direction: column;
	}

	.projects-list-item {
		width: calc(100% - 80px);
	}

	.projects-list-item-img {
		height: 100%;
	}
}

@media screen and (min-width: 769px) and (max-width: 1024px){
	.projects-list {
		flex-direction: row;
	}

	.projects-list-item {
		max-width: 400px;
		display: flex;
		flex-direction: column;
	}

	.projects-list-item-img {
		height: auto;
	}

	.project-info {
		margin-top: 10px;
	}
}

@media screen and (min-width: 1025px) and (max-width: 1280px){
	.projects-list {
		flex-direction: row;
	}

	.projects-list-item {
		max-width: 500px;
	}
}

@media screen and (min-width: 1281px){
	.projects-list {
		flex-direction: row;
		max-width: 1400px;
		margin: auto;
	}

	.projects-list-item {
		max-width: 600px;
	}
}