footer.site-footer
  .move-top-btn(data-tooltip='Go to top')
    i.fas.fa-arrow-up
  span.footer-text
    | Build with 
    span.heart-icon &#x2764;&#xFE0F;
    |  and &#x1F4BB;. &copy; Oleh Yaroshchuk 2019 - 2021
