doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Oleh Yaroshchuk
    link(rel='stylesheet' href='css/preloader.css')
    // <link rel="preload" href="js/preloader.js" as="script">
    meta(name='viewport' content='width=device-width, shrink-to-fit=no')
    meta(name='title' content='Oleh Yaroshchuk')
    meta(name='description' content='I do things.')
    meta(name='keywords' content='Portfolio, Personal website, front-end developer')
    meta(name='robots' content='index, follow')
    meta(name='language' content='English')
    meta(name='author' content='Oleh Yaroshchuk')
    link(rel='manifest' href='/manifest.json')
    link(href='https://fonts.googleapis.com/css?family=Russo+One|Merriweather+Sans|Kanit|Ropa+Sans|Roboto&display=swap' rel='stylesheet')
    link(href='../css/style.css' rel='stylesheet')
    script(src='https://kit.fontawesome.com/05d8a5315c.js')
