header.site-header.site-header-top
  a.logo(href='/') Oleh Yaroshchuk
  nav.site-nav
    span.link.header-link
      a(href='/') Home
      .link-underline
    span.link.header-link
      a(href='/about') About
      .link-underline
    span.link.header-link
      a(href='/projects') Projects
      .link-underline
    span.link.header-link
      a(href='/contact') Contact
      .link-underline
  .mode-switch-wrapper.header-mode-switch-wrapper(data-tooltip='Click to change mode')
    label.mode-switch(for='checkbox')
      input#checkbox.mode-switch-input(type='checkbox')
      .slider.round
  .sidebar-open-btn(data-tooltip='Open sidebar')
    i.fas.fa-bars
