/**
 * Variables
**/

:root {
	--text-link-color: #302AE6;
	--font-color: #424242;
	--header-bg-color: #f7f7f7;
	--bg-color: #F2F6ED;
	--bg-color-alt: #efeeed;
	--highlight-text-color: #c62c76;
	--logo-font: 'Russo One', sans-serif;
	--nav-font: 'Merriweather Sans', sans-serif;
	--mode-symbol: "\f185";
	--mode-symbol-color: #f9d71c;
	--entry-section-btn-color: #53657e;
	--titles-font: 'Ropa Sans', sans-serif;
	--btn-font: 'Kanit', sans-serif;
	--btn-rev-color: #161625;
	--link-underline-color: #ff32b4;
	--tag-color: #e6e512;
	--text-font: 'Roboto', sans-serif;
	--move-top-btn-color: #ff4bfe;
	--sidebar-link-color: #5b5b5b;
	--sidebar-link-color-alt: #292922;
}

:root[data-mode="dark"] {
	--text-link-color: #9A97F3;
	--font-color: #e1e1ff;
	--header-bg-color: #1d1d29;
	--bg-color: #161625;
	--bg-color-alt: #1b1b32;
	--highlight-text-color: #ed328c;
	--mode-symbol: "\f186";
	--mode-symbol-color: #C0C0C0;
	--entry-section-btn-color: #7e5453;
	--btn-rev-color: #F2F6ED;
	--link-underline-color: #ffff32;
	--tag-color: #aa0c28;
	--move-top-btn-color: #5437a4;
	--sidebar-link-color: #bbb5b5;
	--sidebar-link-color-alt: #818cab;
}

@media screen and (max-width: 480px) {
	:root {
		--entry-section-bg: url(../img/entry-section-day_phone.webp);
	}

	:root[data-mode="dark"] {
		--entry-section-bg: url(../img/entry-section-night_phone.webp);
	}
}

@media screen and (min-width: 481px) and (max-width: 768px) {
	:root {
		--entry-section-bg: url(../img/entry-section-day_tablet.webp);
	}

	:root[data-mode="dark"] {
		--entry-section-bg: url(../img/entry-section-night_tablet.webp);
	}
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
	:root {
		--entry-section-bg: url(../img/entry-section-day_laptop.webp);
	}

	:root[data-mode="dark"] {
		--entry-section-bg: url(../img/entry-section-night_laptop.webp);
	}
}

@media screen and (min-width: 1025px) {
	:root {
		--entry-section-bg: url(../img/entry-section-day.webp);
	}

	:root[data-mode="dark"] {
		--entry-section-bg: url(../img/entry-section-night.webp);
	}
}

body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--bg-color);
	color: var(--font-color);
	display: flex;
	flex-direction: column;
}

.scroll-disabled {
	overflow: hidden; 
}

a {
	color: var(--text-link-color);
	text-decoration: none;
}

i {
	-webkit-tap-highlight-color: transparent; /*prevents grey highlighting on click at mobile webkit browsers*/
}

.btn {
	color: var(--btn-rev-color);
	border: 4px solid var(--btn-rev-color);
	padding: 5px 10px;
	font-family: var(--btn-font);
	transition: 1s;
	text-align: center;
	cursor: pointer;
}

/*Works only on non-touch devices */
@media (any-hover: hover) and (pointer: fine) {
	.btn:hover {
		color: var(--bg-color);
		background-color: var(--btn-rev-color);
		opacity: .85;
	}
}

@media screen and (max-width: 768px){
	.header-mode-switch-wrapper {
		display: none;
	}
}

main {
	flex: 1 0 auto;
}

.about-main,
.projects-main,
.contact-main {
	padding-top: 60px;
}

.about-main .content-section {
	text-align: center;
}

.about-main .content-section:nth-child(2n + 1) {
	background-color: var(--bg-color-alt);
}

.contact-main {
	display: flex;
}

.contact-main .content-section {
	margin: auto;
}

.content-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 2em 5px;
}

.content-section p,
.content-section .paragraph {
	font-family: var(--text-font);
	line-height: 150%;
	margin-bottom: 0;
}

@media screen and (max-width: 480px) {
	.projects-main .content-section {
		padding: 1em 10px;
	}

	.about-main .content-section p,
	.about-main .content-section .paragraph {
		width: 100%;
	}
}

@media screen and (min-width: 481px) and (max-width: 768px) {
	.about-main .content-section,
	.content-section {
		padding: 2em 25px;
	}

	.about-main .content-section p,
	.about-main .content-section .paragraph {
		width: 100%;
	}
}

@media screen and (min-width: 769px) {
	.about-main .content-section p,
	.about-main .content-section .paragraph {
		width: 37.5em;
	}
}

/**
 * Entry section
**/

.banner-section {
	height: 100vh;
	background-image: var(--entry-section-bg);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.banner-section h1 {
	font-size: 3.5em;
	color: #3C3C3C;
	text-align: center;
}

.highlight {
	color: var(--highlight-text-color);
}

.check-work-btn {
	font-size: 1.4em;
	border-color: #DEDEDE;
	color: #DEDEDE;
	background-color: transparent;
}

.check-work-btn:hover {
	color: var(--entry-section-btn-color);
	background-color: #DEDEDE;
}

.check-work-btn::after {
	content: "\f061";
	font-family: "Font Awesome 5 Free";
	font-weight: 700;
	margin-left: 10px;
	transition: .75s;
	display: inline-block;
}

.check-work-btn:hover::after {
	transform: rotate(90deg);
}

@media screen and (min-width: 481px) and (max-width: 768px){

}

@media screen and (min-width: 769px) and (max-width: 1024px){
	
}

@media screen and (min-width: 1025px) and (max-width: 1280px){
	
}

@media screen and (min-width: 1281px){
	
}

.about-section {
	text-align: center;
}

.about-section .btn{
	margin-top: 1em;
}

.section-header {
	font-size: 2em;
	font-family: var(--titles-font);
	margin: 0;
	text-align: center;
}

.divider {
	width: 75px;
	margin: 5px auto;
}

.sided {
	width: 100%;
	display: inline-flex;
	justify-content: space-between;
}

.left {
	text-align: left;
}

.paragraph {
	margin-top: 1em;
	display: flex;
	flex-direction: column;
}

.paragraph > span {
	margin: .5em 0;
}

.paragraph .years {
	color: #646481;
}

.paragraph ul {
	margin: 0;
	text-align: left;
}

@media screen and (min-width: 481px) and (max-width: 768px){

}

@media screen and (min-width: 769px) and (max-width: 1024px){
	.about-section p {
		width: 37.5em;
	}
}

@media screen and (min-width: 1025px) and (max-width: 1280px){
	.about-section p {
		width: 37.5em;
	}
}

@media screen and (min-width: 1281px){
	.about-section p {
		width: 37.5em;
	}
}

.projects-section {
	background-color: var(--bg-color-alt);
}

.projects-container {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	width: 90%;
	margin: 10px 0 20px 0;
}

.contact-section {
	text-align: center;
}

.contact-section p,
.contact-section div,
.contact-section a {
	font-family: var(--text-font);
}

.contact-section .fa-copy {
	width: 30px;
	height: 30px;
	border: 1px solid;
	border-radius: 90%;
	line-height: 30px;
	cursor: pointer;
	margin: 0 5px;
}

.links-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.links-container .link,
.links-container .vr {
	margin-bottom: 5px;
}

/*Works only on non-touch devices */
@media (any-hover: hover) and (pointer: fine) {
	.header-link a:hover + .link-underline,
	.header-link a:hover + .link-underline {
		width: 100%;	
	}
}

.vr {
	display: inline;
	width: 1px;
	border-left: 1px solid;
	margin: 0 4px;
}

@media screen and (min-width: 769px) and (max-width: 1024px){
	.contact-section p {
		width: 35em;
		line-height: 140%;
	}
}

@media screen and (min-width: 1025px) and (max-width: 1280px){
	.contact-section p {
		width: 35em;
		line-height: 140%;
	}
}

@media screen and (min-width: 1281px){
	.contact-section p {
		width: 35em;
		line-height: 140%;
	}
}

/**
 * Tooltip
 * Works only on non-touch devices
**/

@media (any-hover: hover) and (pointer: fine) {
	[data-tooltip] {
		position: relative;
	}

	[data-tooltip]:hover:after {
		opacity: 1;
		visibility: visible;
	}

	[data-tooltip]:after {
		content: attr(data-tooltip);
		background: #000000e3;
		color: white;
		position: absolute;
		padding: 5px;
		font-family: var(--text-font);
		font-size: .75rem;
		white-space: nowrap;
		bottom: calc(-100% - 2px);
		border-radius: 2px;
		line-height: initial;
		left: 50%;
		width: auto;
		transform: translateX(-50%);
		opacity: 0;
		transition: all .3s ease;
		visibility: hidden;
	}
}

/**
 * 
**/

.fa-arrow-up {
	margin: auto;
}

.skills-container {
	width: calc(100% - 40px);
	background-color: var(--bg-color-alt);
	display: flex;
	flex-wrap: wrap;
	padding: 1em 10px;
	justify-content: center;
	margin-top: 1em;
}

.skills-title {
	font-family: var(--titles-font);
	font-size: 1.35em;
	text-align: left;
	margin: .5em 0 .5em 1em;
	position: relative;
}

.skills-title:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 30px;
	height: 2px;
	background-color: var(--link-underline-color);
}

.skills-list {
	font-family: var(--text-font);
	padding: 0; 
	margin: 0 0 .5rem 40px;
	text-align: left;
}

.skills-list li {
	line-height: 150%;
	list-style: none;
}

.skills-list li:before {
	content: '→'; 
	margin-right: 5px;
}

@media screen and (max-width: 480px){
	.skills-list-wrapper{
		width: 100%
	}
}

@media screen and (min-width: 481px) and (max-width: 768px){
	.skills-list-wrapper{
		width: 200px
	}
}

@media screen and (min-width: 769px) {
	.skills-container {
		width: 45rem;
	}

	.skills-list-wrapper{
		width: 200px
	}
}

.projects-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 0 10px;
}
