/**
 * Variables
**/

:root {
	--text-link-color: #302AE6;
	--font-color: #424242;
	--header-bg-color: #f7f7f7;
	--bg-color: #F2F6ED;
	--bg-color-alt: #efeeed;
	--logo-font: 'Russo One', sans-serif;
	--nav-font: 'Merriweather Sans', sans-serif;
	--mode-symbol: "\f185";
	--mode-symbol-color: #f9d71c;
	--entry-section-bg: url(../img/entry-section-day.jpg);
	--entry-section-btn-color: #53657e;
	--titles-font: 'Ropa Sans', sans-serif;
	--btn-font: 'Kanit', sans-serif;
	--btn-rev-color: #161625;
	--link-underline-color: #ff32b4;
	--tag-color: #e6e512;
	--text-font: 'Roboto', sans-serif;
	--move-top-btn-color: #ff4bfe;
	--sidebar-link-color: #5b5b5b;
	--sidebar-link-color-alt: #292922;
	--cookies-message-color: #e1e1ff;
	--cookies-message-bg-color: #1e1e24b3;
}

:root[data-mode="dark"] {
	--text-link-color: #9A97F3;
	--font-color: #e1e1ff;
	--header-bg-color: #1d1d29;
	--bg-color: #161625;
	--bg-color-alt: #1b1b32;
	--mode-symbol: "\f186";
	--mode-symbol-color: #C0C0C0;
	--entry-section-bg: url(../img/entry-section-night.jpg);
	--entry-section-btn-color: #7e5453;
	--btn-rev-color: #F2F6ED;
	--link-underline-color: #ffff32;
	--tag-color: #aa0c28;
	--move-top-btn-color: #5437a4;
	--sidebar-link-color: #bbb5b5;
	--sidebar-link-color-alt: #818cab;
}


body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--bg-color);
	color: var(--font-color);
	display: flex;
	flex-direction: column;
}

.scroll-disabled {
	overflow: hidden; 
}

a {
	color: var(--text-link-color);
	text-decoration: none;
}

i {
	-webkit-tap-highlight-color: transparent; /*prevents grey highlighting on click at mobile webkit browsers*/
}

.btn {
	color: var(--btn-rev-color);
	border: 4px solid var(--btn-rev-color);
	padding: 5px 10px;
	font-family: var(--btn-font);
	transition: 1s;
	text-align: center;
	cursor: pointer;
}

/*Works only on non-touch devices */
@media (any-hover: hover) and (pointer: fine) {
	.btn:hover {
		color: var(--bg-color);
		background-color: var(--btn-rev-color);
		opacity: .85;
	}
}

/**
 * Site Header
**/

.site-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	justify-items: center;
	padding: 0 10px;
	top: 0;
	position: fixed;
	height: 60px;
	width: calc(100% - 20px);
	z-index: 100;
	transition: background-color .3s ease, transform .3s ease;
}

.site-header-top {
	background: 0 0;
}

.site-header-notTop {
	background: var(--header-bg-color);
}

.site-header-hide {
	transform: translateY(-100%);
}

.site-header-show {
	transform: translateY(0);
}

.logo {
	color: var(--font-color);
	font-family: var(--logo-font);
	font-size: 1.5em;
}

.site-nav {
	width: 300px;
	display: flex;
	justify-content: space-evenly;
	font-family: var(--nav-font);
	font-size: .9em;
	margin-left: auto;
	margin-right: 30px;
}

.mode-switch-wrapper {
	display: flex;
	align-items: center;
	width: max-content;
}

.mode-switch {
	display: inline-block;
	height: 34px;
	position: relative;
	width: 60px;
	-webkit-tap-highlight-color: transparent; /*prevents grey highlighting on click at mobile webkit browsers*/
}

.mode-switch:focus,
.mode-switch:active {
    background: transparent; /*prevents grey highlighting on click at mobile firefox browser*/
}

.mode-switch input {
	display:none;
}

.slider {
	position: absolute;
	background-color: #ccc;
	cursor: pointer;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.slider:before {
	background-color: #fff;
	bottom: 4px;
	color: var(--mode-symbol-color);
	font-family: "Font Awesome 5 Pro"; /*with other fonts don't work at android*/
	font-weight: 900;
	content: var(--mode-symbol);
	height: 26px;
	left: 4px;
	position: absolute;
	transition: .4s;
	width: 26px;
	display: flex;
	align-items: center;
	justify-content: center;
}

input:checked + .slider {
	background-color: #66bb6a;
}

input:checked + .slider:before {
	transform: translateX(26px);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.sidebar-open-btn {
	display: none;
}

@media screen and (max-width: 768px){
	.site-nav {
		display: none;
	}

	.header-mode-switch-wrapper {
		display: none;
	}

	.sidebar-open-btn {
		display: block;
		font-size: 1.5em;
		cursor: pointer;
	}
}

main {
	flex: 1 0 auto;
}

.about-main,
.projects-main,
.contact-main {
	padding-top: 60px;
}

.about-main .content-section {
	text-align: center;
}

.about-main .content-section:nth-child(2n + 1) {
	background-color: var(--bg-color-alt);
}

.contact-main {
	display: flex;
}

.contact-main .content-section {
	margin: auto;
}

.content-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 2em 5px;
}

.content-section p {
	font-family: var(--text-font);
	line-height: 150%;
}

@media screen and (max-width: 480px) {
	.projects-main .content-section {
		padding: 1em 10px;
	}
}

@media screen and (min-width: 481px) and (max-width: 768px) {
	.about-main .content-section,
	.content-section {
		padding: 2em 25px;
	}
}

@media screen and (min-width: 769px) {
	.about-main .content-section p {
		width: 37.5em;
	}
}

/**
 * Entry section
**/

.banner-section {
	height: 100vh;
	background-image: var(--entry-section-bg);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.banner-section h1 {
	font-size: 3.5em;
	color: #3C3C3C;
	text-align: center;
}

.highlight {
	color: #c62c76;
}

.check-work-btn {
	font-size: 1.4em;
	border-color: #DEDEDE;
	color: #DEDEDE;
}

.check-work-btn:hover {
	color: var(--entry-section-btn-color);
	background-color: #DEDEDE;
}

.check-work-btn .fa-arrow-right {
	transition: .75s;
}

.check-work-btn:hover .fa-arrow-right {
	transform: rotate(90deg);
}


@media screen and (min-width: 481px) and (max-width: 768px){

}

@media screen and (min-width: 769px) and (max-width: 1024px){
	
}

@media screen and (min-width: 1025px) and (max-width: 1280px){
	
}

@media screen and (min-width: 1281px){
	
}

.about-section {
	text-align: center;
}

.section-header {
	font-size: 2em;
	font-family: var(--titles-font);
	margin: 0;
	text-align: center;
}

.divider {
	width: 75px;
	margin: 5px auto;
}

@media screen and (min-width: 481px) and (max-width: 768px){

}

@media screen and (min-width: 769px) and (max-width: 1024px){
	.about-section p {
		width: 37.5em;
	}
}

@media screen and (min-width: 1025px) and (max-width: 1280px){
	.about-section p {
		width: 37.5em;
	}
}

@media screen and (min-width: 1281px){
	.about-section p {
		width: 37.5em;
	}
}

.projects-section {
	background-color: var(--bg-color-alt);
}

.projects-container {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	width: 90%;
	margin: 10px 0 20px 0;
}

.project {
	width: 250px;
	height: 350px;
	position: relative;
}

.project-img {
	position: absolute;
	top: 0;
	object-fit: cover;
	width: 100%;
	height: 100%;
	z-index: 20;
}

.project-img:hover + .project-card,
.project-img:active + .project-card,
.project-card:hover,
.project-card:active {
	background-color: var(--bg-color);
	opacity: .9;
	z-index: 30;
}

.project-img:hover + .project-card .card-title,
.project-img:active + .project-card .card-title,
.project-card:hover .card-title,
.project-card:active .card-title {
	top: 15%;
}

.project-img:hover + .project-card .card-subtitle,
.project-img:active + .project-card .card-subtitle,
.project-card:hover .card-subtitle,
.project-card:active .card-subtitle {
	top: 30%;
}

.project-img:hover + .project-card .btn,
.project-img:active + .project-card .btn,
.project-card:hover .btn,
.project-card:active .btn {
	bottom: 24%;
}

.project-card {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	opacity: 0;
	z-index: 10;
	transition: .5s ease;
	font-family: var(--btn-font);
}

.card-title,
.card-subtitle,
.project-card .btn {
	transition: 0.5s ease;
	position: absolute;
	text-align: center;
	margin: 0 auto;
	right: 0;
	left: 0;
}

.card-title {
	font-size: 1.75em;
	font-weight: bold;
	top: 0;
}

.card-subtitle {
	font-size: .8em;
	color: #ec1bf2;
	top: 6%;
}

.project-card .btn {
	bottom: 0;
	width: 90px;
	padding: 5px;
	border-width: 2px;
}

@media screen and (max-width: 480px){
	.project {
		width: 250px;
		height: 350px;
	}
}

@media screen and (min-width: 481px) and (max-width: 768px){
	.project {
		width: 225px;
		height: 300px;
	}
}

@media screen and (min-width: 769px) and (max-width: 1024px){
	.project {
		width: 200px;
		height: 250px;
	}
}

@media screen and (min-width: 1025px) and (max-width: 1280px){
	.project {
		width: 225px;
		height: 275px;
	}
}

@media screen and (min-width: 1281px){
	.project {
		width: 250px;
		height: 325px;
	}
}

.contact-section {
	text-align: center;
}

.contact-section p,
.contact-section div,
.contact-section a {
	font-family: var(--text-font);
}

.contact-section .fa-copy {
	width: 30px;
	height: 30px;
	border: 1px solid;
	border-radius: 90%;
	line-height: 30px;
	cursor: pointer;
	margin: 0 5px;
}

.links-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.links-container .link,
.links-container .vr {
	margin-bottom: 5px;
}

.link {
	position: relative;
}

.link a {
	padding: 0 2px;
	z-index: 2;
	position: relative;
	transition: 1s ease;
}

.header-link a {
	color: var(--font-color);
}

.link-underline {
	height: 2px;
	background-color: var(--link-underline-color);
	position: absolute;
	bottom: -2px;
	z-index: 1;
	transition: .5s ease-in-out;
	display: inline-block;
	left: 0;
}

.text-link {
	white-space: nowrap;
}

.text-link > .link-underline {
	width: 100%;
}

.header-link > .link-underline {
	width: 0;
}

/*Works only on non-touch devices */
@media (any-hover: hover) and (pointer: fine) {
	.text-link a:hover,
	.text-link a:focus {
		color: var(--bg-color);
	}

	.text-link a:hover + .link-underline,
	.text-link a:focus + .link-underline {
		height: calc(100% + 2px);
	}

	.header-link a:hover + .link-underline,
	.header-link a:hover + .link-underline {
		width: 100%;	
	}
}

.vr {
	display: inline;
	width: 1px;
	border-left: 1px solid;
	margin: 0 4px;
}

@media screen and (min-width: 769px) and (max-width: 1024px){
	.contact-section p {
		width: 35em;
		line-height: 140%;
	}
}

@media screen and (min-width: 1025px) and (max-width: 1280px){
	.contact-section p {
		width: 35em;
		line-height: 140%;
	}
}

@media screen and (min-width: 1281px){
	.contact-section p {
		width: 35em;
		line-height: 140%;
	}
}

/**
 * Footer
**/

.site-footer {
	flex-shrink: 0;
	width: 100%;
	height: 3em;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: var(--bg-color-alt);
	padding-bottom: 10px;
	margin-top: 15px;
}

.move-top-btn {
	width: 30px;
	height: 30px;
	display: flex;
	font-size: 1.1em;
	border: 2px solid;
	cursor: pointer;
	margin-top: -17px;
	background-color: var(--move-top-btn-color);
}

.move-top-btn i {
	margin: auto;
}

.footer-text {
	font-size: .8em;
	font-family: var(--text-font);
	margin: auto;
}

.heart-icon {
	color: #E81224;
}

/**
 * Tooltip
 * Works only on non-touch devices
**/

@media (any-hover: hover) and (pointer: fine) {
	[data-tooltip] {
		position: relative;
	}

	[data-tooltip]:hover:after {
		opacity: 1;
		visibility: visible;
	}

	[data-tooltip]:after {
		content: attr(data-tooltip);
		background: #000000e3;
		color: white;
		position: absolute;
		padding: 5px;
		font-family: var(--text-font);
		font-size: .75rem;
		white-space: nowrap;
		bottom: calc(-100% - 2px);
		border-radius: 2px;
		line-height: initial;
		left: 50%;
		width: auto;
		transform: translateX(-50%);
		opacity: 0;
		transition: all .3s ease;
		visibility: hidden;
	}
}

/**
	* Sidebar
**/

.sidebar {
	display: none;
}

@media screen and (max-width: 768px){
	.sidebar {
		display: flex;
		flex-direction: column;
		padding: 10px;
		width: calc(100% - 20px);
		height: calc(100% - 50px);
		position: fixed;
		top: 0;
		background-color: var(--bg-color-alt);
		z-index: 1000;
		align-items: center;
		overflow-y: auto;
		overflow-x: hidden;
		padding: 50px 10px 0 10px;
		transition: transform .75s cubic-bezier(.45,.05,.55,.95);
	}

	.sidebar-showed {
		transform: translateX(0);
	}

	.sidebar-hidden {
		transform: translateX(100%);
	}

	.sidebar-header{
		height: 50px;
		display: flex;
		width: 95%;
		align-items: center;
		justify-content: space-between;
		position: fixed;
		top: 0;
		left: 0;
		padding: 0 2.5%;
		background-color: var(--header-bg-color);
		color: var(--font-color);
		z-index: 10;
	}

	.sidebar-title{
		font-family: var(--logo-font);
		font-size: 1.5em;
		justify-self: center;
	}

	.sidebar-header i{
		font-size: 1.2em;
	}

	.sidebar-close-btn{
		cursor: pointer;
	}

	.sidebar-container {
		width: 80%;
		height: calc(100% - 90px);
		margin: 50px auto 40px auto;
		display: flex;
		flex-direction: column;
		text-align: start;
	}

	.sidebar-container a{
		font-family: var(--nav-font);
		font-size: 2.2em;
		line-height: 175%;
		cursor: pointer;
		color: var(--sidebar-link-color);
		transition: .25s ease;
	}

	.sidebar-container a:hover {
		color: var(--sidebar-link-color-alt);
	}

	.sidebar-container .mode-switch-wrapper {
		margin-top: auto;
	}
}

/**
 * 
**/

.skills-container {
	width: calc(100% - 40px);
	background-color: var(--bg-color-alt);
	display: flex;
	flex-wrap: wrap;
	padding: 1em 10px;
	justify-content: center;
}

.skills-title {
	font-family: var(--titles-font);
	font-size: 1.35em;
	text-align: left;
	margin: .5em 0 .5em 1em;
	position: relative;
}

.skills-title:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 30px;
	height: 2px;
	background-color: var(--link-underline-color);
}

.skills-list {
	font-family: var(--text-font);
	padding: 0; 
	margin: 0 0 .5rem 40px;
	text-align: left;
}

.skills-list li {
	line-height: 150%;
	list-style: none;
}

.skills-list li:before {
	content: '→'; 
	margin-right: 5px;
}

@media screen and (max-width: 480px){
	.skills-list-wrapper{
		width: 100%
	}
}

@media screen and (min-width: 481px) and (max-width: 768px){
	.skills-list-wrapper{
		width: 200px
	}
}

@media screen and (min-width: 769px) {
	.skills-container {
		width: 45rem;
	}

	.skills-list-wrapper{
		width: 200px
	}
}



.projects-list {
	display: flex;
	flex-wrap: wrap;
}

.projects-list-item {
	height: auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 2em auto 1fr 2em;
	grid-row-gap: 5px;
	grid-column-gap: 20px;
	background-color: var(--bg-color-alt);
	padding: 20px;
	margin: 10px auto;
	align-items: center;
}

.projects-list-item .link {
	align-self: center;
	justify-self: start;
	font-family: var(--text-font);
}

.projects-list-item-img {
	object-fit: cover;
	width: 100%;
	grid-row-start: 1;
	grid-row-end: 5;
	justify-self: center;
}

.project-title {
	margin: 0;
	font-family: var(--titles-font);
	font-size: 1.75em;
	text-align: start;
}

.project-tags-list {
	margin: 0;
	list-style: none;
	padding: 0;
	text-align: start;
	align-self: center;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	font-family: var(--btn-font);
	font-size: .85em;
}

.project-tags-list li {
	width: auto;
	display: inline-block;
	padding: 5px 10px;
	background-color: var(--tag-color);
	margin: 2px;
	border-radius: 20px;
}

.project-description {
	font-family: var(--text-font);
	margin: 0;
	align-self: start;
}

@media screen and (max-width: 480px) {
	.projects-list {
		flex-direction: column;
	}

	.projects-list-item {
		width: calc(100% - 60px);
		grid-template-columns: 1fr;
		grid-template-rows: auto 2em 2em auto 2em;
	}

	.projects-list-item-img {
		height: auto;
		grid-row-end: 2;
	}
}

@media screen and (min-width: 481px) and (max-width: 768px){
	.projects-list {
		flex-direction: column;
	}

	.projects-list-item {
		width: calc(100% - 80px);
	}

	.projects-list-item-img {
		height: 100%;
	}
}

@media screen and (min-width: 769px) and (max-width: 1024px){
	.projects-list {
		flex-direction: row;
	}

	.projects-list-item {
		max-width: 400px;
		grid-template-columns: 1fr;
		grid-template-rows: auto 2em 2em 1fr 2em;
	}

	.projects-list-item-img {
		height: auto;
		grid-row-end: 2;
	}
}

@media screen and (min-width: 1025px) and (max-width: 1280px){
	.projects-list {
		flex-direction: row;
	}

	.projects-list-item {
		max-width: 500px;
	}
}

@media screen and (min-width: 1281px){
	.projects-list {
		flex-direction: row;
		max-width: 1400px;
		margin: auto;
	}

	.projects-list-item {
		max-width: 600px;
	}
}

/**
 * Cookies message
**/

.cookies-message {
	position: fixed;
	bottom: 0;
	width: calc(100% - 30px);
	line-height: 150%;
	background-color: var(--cookies-message-bg-color);
	padding: 10px 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 99;
	color: var(--cookies-message-color);
}

.cookies-message p {
	font-family: var(--text-font);
	font-size: .75em;
	margin-right: 10px;
}

.cookies-accept-btn {
	height: max-content;
	color: var(--cookies-message-color);
	border-color: var(--cookies-message-color);
}

.cookies-accept-btn:hover {
	color: var(--cookies-message-bg-color);
	background-color: var(--cookies-message-color);
}

@media screen and (max-width: 480px) {
	.cookies-message {
		flex-direction: column;
	}

	.cookies-accept-btn {
		width: 100px;
	}
}